.left_pannel_container {
  display: flex;
  gap: 21px;
  align-items: flex-start;
  overflow-y: hidden
}
.about_section_container {
  margin-inline-start: 5px;
    width: 38%;
    max-width: fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}

